*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(whitesmoke,black);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-content{
    height: 100vh;
    display: grid;
    grid-template-columns: 100px  1fr 200px;
    grid-template-rows:50px 1fr auto;
    grid-template-areas: "header header header"
    "nav main profile-img"
    "footer footer footer";
}
.header{
    grid-area: header;
    width: 100%;
    height: 50px;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.nav{
    margin-top: 5px;
    grid-area: nav;
}
ul{ /* this is parent container for display:flex*/
    /*if we display:flex here to center the content then we cannot open link
    form entire width of that link... So, we do display:flex in (li a)*/ 
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    align-items:center;
    margin-left: 1px;
    line-height: 20px;
}
li{ /* this is child items of parent container ul*/
    background-color: rgb(13, 96, 249);
    list-style-type: none;
    width: 100%;
    padding: 2px;
    margin: 1px;
    border-radius: 5px;
}
li a{ /* here display:flex is used to open link from entire width cover by link*/
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
}
.main{
    grid-area: main;
    margin: 5px;
}
.content{
    background-color:rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    padding: 20px;
    color: black;
    border-radius: 20px;
}
.profile-img{
    grid-area: profile-img;
    display: flex;
    justify-content: center;
    align-items: start;
}
.profile-img img{
    margin: 10px;
    width: 90%;
    border-radius: 50%;
    /* try to make transparent border radius
    border: 5px solid transparent;
    border-image: linear-gradient(red,green,yellow,blue) 1;
    */
}
.footer{
    grid-area: footer;
    width: 100%;
    padding: 10px;
    color: white;
    background-color:purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media responsive for tabet view*/
@media(max-width:900px){
.grid-content{
    height: auto;
    display: grid;
    grid-template-columns: 50px  1fr;
    grid-template-rows:50px 1fr auto auto ;
    grid-template-areas: "header header"
    "nav main"
    "profile-img profile-img"
    "footer footer";
}
.profile-img{
    display:flex;
    justify-content: center;
    align-items: start;
}
.profile-img img{
    margin-left: 60px;
    width:90%;
    height: 60%;
    border-radius: 0%;
    object-fit: cover;
}
}

/* media responsive for mobile view*/
@media (max-width:500px) {
    .grid-content{
    height: auto;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:50px auto auto 1fr auto;
    grid-template-areas: "header"
    "nav"
    "profile-img"
    "main"
    "footer";
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img img{
    margin: 0;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
}
